name: Build Windows Wheels

on:
  push:
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9, 3.10, 3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install CMake & MinGW
        run: choco install --yes cmake mingw

      - name: Build libcodec2.dll
        shell: bash
        run: |
          git clone https://github.com/drowe67/codec2.git codec2
          cd codec2
          mkdir build && cd build
          cmake .. \
            -G "MinGW Makefiles" \
            -DCMAKE_MAKE_PROGRAM=mingw32-make \
            -DCMAKE_SYSTEM_NAME=Windows \
            -DCMAKE_C_COMPILER=x86_64-w64-mingw32-gcc \
            -DCMAKE_CXX_COMPILER=x86_64-w64-mingw32-g++ \
            -DUNITTEST=FALSE \
            -DGENERATE_CODEBOOK=../build_linux/src/generate_codebook
          cmake --build . --config Release
          cp src/libcodec2.dll ../..

      - name: Build Python wheels
        uses: pypa/cibuildwheel@v2.23.2
        with:
          platform: windows
          output-dir: wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: pycodec2-windows-wheels
          path: wheelhouse/*.whl


